:root {
  --background: #083637;
  --card-container: #f4f4f0;
  --red-button: #f42204;
  --mix-match-button: #cf7651;
}

body {
  background-color: var(--background);
  /* color: var(--card-container); */
}

h1 {
  font-weight: 700;
  font-size: 50px;
}

h1 #resultsPage {
  font-style: italic;
}

.mmbutton {
  background-color: var(--mix-match-button);
}

.datepicker-header, .datepicker-cell.selected .datepicker-cell-content  {
  background-color: var(--mix-match-button);
}

.datepicker-footer-btn {
  color: var(--mix-match-button);
}

#landingHeader {
  color: white;
}