:root {
  --background: #083637;
  --card-container: #f4f4f0;
  --mix-match-button: #cf7651;
  --ageModal: #D49785;
}

body {
  background-color: var(--background);
}

h1 {
  font-weight: 700;
  font-size: 50px;
}

h1 #resultsPage {
  font-style: italic;
}

.mmbutton {
  background-color: var(--mix-match-button);
}

#alcToggle {
  display: none;
}

.datepicker-header, .datepicker-cell.selected .datepicker-cell-content  {
  background-color: var(--mix-match-button);
}

.datepicker-footer-btn {
  color: var(--mix-match-button);
}

#landingHeader {
  color: white;
}

.ytComps {
  display: inline-block;
}


div button, #verifyBtn {
    background-color: var(--background);
}

button:hover , #verifyBtn:hover {
  background-color: var(--mix-match-button);
}

.cream {
    background-color: var(--card-container);
}


@media screen and (max-width: 640px) {
  .hide {
    display: none;
  }
  .modal-header {
    background-color: var(--ageModal);
  }

  #ageModalLabel {
    margin-top: 0;
  }
}



